.App {
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.schema{
  width: 500px;
  flex:0
}
.parent{
  color:dodgerblue;
}
.child{
  color:chocolate;
}
.toggleBtn{
  width:20px;
  height: 20px;
  cursor: pointer;
}

.dependencies-container{
  flex:1;
  text-align: initial;
}
ul{
  list-style-type: none;
}
.parentItem{
  font-size: 20px;
  font-weight: 600;
}